<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.zucc.se2020g11.api.dao.CompositionCommentEntityMapper">
  <resultMap id="BaseResultMap" type="cn.edu.zucc.se2020g11.api.entity.CompositionCommentEntity">
    <id column="ccomment_id3" jdbcType="INTEGER" property="ccommentId3" />
    <result column="composition_id" jdbcType="INTEGER" property="compositionId" />
    <result column="next_ccomment_id3" jdbcType="INTEGER" property="nextCcommentId3" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="comment_body" jdbcType="VARCHAR" property="commentBody" />
    <result column="date_time" jdbcType="TIMESTAMP" property="dateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    ccomment_id3, composition_id, next_ccomment_id3, user_name, comment_body, date_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from composition_comment
    where ccomment_id3 = #{ccommentId3,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from composition_comment
    where ccomment_id3 = #{ccommentId3,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.edu.zucc.se2020g11.api.entity.CompositionCommentEntity">
    insert into composition_comment (ccomment_id3, composition_id, next_ccomment_id3, 
      user_name, comment_body, date_time
      )
    values (#{ccommentId3,jdbcType=INTEGER}, #{compositionId,jdbcType=INTEGER}, #{nextCcommentId3,jdbcType=INTEGER}, 
      #{userName,jdbcType=VARCHAR}, #{commentBody,jdbcType=VARCHAR}, #{dateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.edu.zucc.se2020g11.api.entity.CompositionCommentEntity">
    insert into composition_comment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="ccommentId3 != null">
        ccomment_id3,
      </if>
      <if test="compositionId != null">
        composition_id,
      </if>
      <if test="nextCcommentId3 != null">
        next_ccomment_id3,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="commentBody != null">
        comment_body,
      </if>
      <if test="dateTime != null">
        date_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="ccommentId3 != null">
        #{ccommentId3,jdbcType=INTEGER},
      </if>
      <if test="compositionId != null">
        #{compositionId,jdbcType=INTEGER},
      </if>
      <if test="nextCcommentId3 != null">
        #{nextCcommentId3,jdbcType=INTEGER},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="commentBody != null">
        #{commentBody,jdbcType=VARCHAR},
      </if>
      <if test="dateTime != null">
        #{dateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.edu.zucc.se2020g11.api.entity.CompositionCommentEntity">
    update composition_comment
    <set>
      <if test="compositionId != null">
        composition_id = #{compositionId,jdbcType=INTEGER},
      </if>
      <if test="nextCcommentId3 != null">
        next_ccomment_id3 = #{nextCcommentId3,jdbcType=INTEGER},
      </if>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="commentBody != null">
        comment_body = #{commentBody,jdbcType=VARCHAR},
      </if>
      <if test="dateTime != null">
        date_time = #{dateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ccomment_id3 = #{ccommentId3,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.edu.zucc.se2020g11.api.entity.CompositionCommentEntity">
    update composition_comment
    set composition_id = #{compositionId,jdbcType=INTEGER},
      next_ccomment_id3 = #{nextCcommentId3,jdbcType=INTEGER},
      user_name = #{userName,jdbcType=VARCHAR},
      comment_body = #{commentBody,jdbcType=VARCHAR},
      date_time = #{dateTime,jdbcType=TIMESTAMP}
    where ccomment_id3 = #{ccommentId3,jdbcType=INTEGER}
  </update>
</mapper>