<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.zucc.se2020g11.api.dao.DynamicEntityMapper">
  <resultMap id="BaseResultMap" type="cn.edu.zucc.se2020g11.api.entity.DynamicEntity">
    <id column="dynamic_id" jdbcType="INTEGER" property="dynamicId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="dynamic_body" jdbcType="VARCHAR" property="dynamicBody" />
    <result column="release_time" jdbcType="TIMESTAMP" property="releaseTime" />
    <result column="is_share" jdbcType="BIT" property="isShare" />
    <result column="source" jdbcType="VARCHAR" property="source" />
  </resultMap>
  <sql id="Base_Column_List">
    dynamic_id, user_name, dynamic_body, release_time, is_share, source
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from dynamic
    where dynamic_id = #{dynamicId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from dynamic
    where dynamic_id = #{dynamicId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.edu.zucc.se2020g11.api.entity.DynamicEntity">
    insert into dynamic (dynamic_id, user_name, dynamic_body, 
      release_time, is_share, source
      )
    values (#{dynamicId,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR}, #{dynamicBody,jdbcType=VARCHAR}, 
      #{releaseTime,jdbcType=TIMESTAMP}, #{isShare,jdbcType=BIT}, #{source,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.edu.zucc.se2020g11.api.entity.DynamicEntity">
    insert into dynamic
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="dynamicId != null">
        dynamic_id,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="dynamicBody != null">
        dynamic_body,
      </if>
      <if test="releaseTime != null">
        release_time,
      </if>
      <if test="isShare != null">
        is_share,
      </if>
      <if test="source != null">
        source,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="dynamicId != null">
        #{dynamicId,jdbcType=INTEGER},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="dynamicBody != null">
        #{dynamicBody,jdbcType=VARCHAR},
      </if>
      <if test="releaseTime != null">
        #{releaseTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isShare != null">
        #{isShare,jdbcType=BIT},
      </if>
      <if test="source != null">
        #{source,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.edu.zucc.se2020g11.api.entity.DynamicEntity">
    update dynamic
    <set>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="dynamicBody != null">
        dynamic_body = #{dynamicBody,jdbcType=VARCHAR},
      </if>
      <if test="releaseTime != null">
        release_time = #{releaseTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isShare != null">
        is_share = #{isShare,jdbcType=BIT},
      </if>
      <if test="source != null">
        source = #{source,jdbcType=VARCHAR},
      </if>
    </set>
    where dynamic_id = #{dynamicId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.edu.zucc.se2020g11.api.entity.DynamicEntity">
    update dynamic
    set user_name = #{userName,jdbcType=VARCHAR},
      dynamic_body = #{dynamicBody,jdbcType=VARCHAR},
      release_time = #{releaseTime,jdbcType=TIMESTAMP},
      is_share = #{isShare,jdbcType=BIT},
      source = #{source,jdbcType=VARCHAR}
    where dynamic_id = #{dynamicId,jdbcType=INTEGER}
  </update>
</mapper>