<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.zucc.se2020g11.api.dao.DynamicCommentEntityMapper">
  <resultMap id="BaseResultMap" type="cn.edu.zucc.se2020g11.api.entity.DynamicCommentEntity">
    <id column="dcomment_id2" jdbcType="INTEGER" property="dcommentId2" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="next_dcomment_id2" jdbcType="INTEGER" property="nextDcommentId2" />
    <result column="dynamic_id" jdbcType="INTEGER" property="dynamicId" />
    <result column="comment_body" jdbcType="VARCHAR" property="commentBody" />
    <result column="date_time" jdbcType="TIMESTAMP" property="dateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    dcomment_id2, user_name, next_dcomment_id2, dynamic_id, comment_body, date_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from dynamic_comment
    where dcomment_id2 = #{dcommentId2,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from dynamic_comment
    where dcomment_id2 = #{dcommentId2,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.edu.zucc.se2020g11.api.entity.DynamicCommentEntity">
    insert into dynamic_comment (dcomment_id2, user_name, next_dcomment_id2, 
      dynamic_id, comment_body, date_time
      )
    values (#{dcommentId2,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR}, #{nextDcommentId2,jdbcType=INTEGER}, 
      #{dynamicId,jdbcType=INTEGER}, #{commentBody,jdbcType=VARCHAR}, #{dateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.edu.zucc.se2020g11.api.entity.DynamicCommentEntity">
    insert into dynamic_comment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="dcommentId2 != null">
        dcomment_id2,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="nextDcommentId2 != null">
        next_dcomment_id2,
      </if>
      <if test="dynamicId != null">
        dynamic_id,
      </if>
      <if test="commentBody != null">
        comment_body,
      </if>
      <if test="dateTime != null">
        date_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="dcommentId2 != null">
        #{dcommentId2,jdbcType=INTEGER},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="nextDcommentId2 != null">
        #{nextDcommentId2,jdbcType=INTEGER},
      </if>
      <if test="dynamicId != null">
        #{dynamicId,jdbcType=INTEGER},
      </if>
      <if test="commentBody != null">
        #{commentBody,jdbcType=VARCHAR},
      </if>
      <if test="dateTime != null">
        #{dateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.edu.zucc.se2020g11.api.entity.DynamicCommentEntity">
    update dynamic_comment
    <set>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="nextDcommentId2 != null">
        next_dcomment_id2 = #{nextDcommentId2,jdbcType=INTEGER},
      </if>
      <if test="dynamicId != null">
        dynamic_id = #{dynamicId,jdbcType=INTEGER},
      </if>
      <if test="commentBody != null">
        comment_body = #{commentBody,jdbcType=VARCHAR},
      </if>
      <if test="dateTime != null">
        date_time = #{dateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where dcomment_id2 = #{dcommentId2,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.edu.zucc.se2020g11.api.entity.DynamicCommentEntity">
    update dynamic_comment
    set user_name = #{userName,jdbcType=VARCHAR},
      next_dcomment_id2 = #{nextDcommentId2,jdbcType=INTEGER},
      dynamic_id = #{dynamicId,jdbcType=INTEGER},
      comment_body = #{commentBody,jdbcType=VARCHAR},
      date_time = #{dateTime,jdbcType=TIMESTAMP}
    where dcomment_id2 = #{dcommentId2,jdbcType=INTEGER}
  </update>
</mapper>