<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.zucc.se2020g11.api.dao.FollowEntityMapper">
  <resultMap id="BaseResultMap" type="cn.edu.zucc.se2020g11.api.entity.FollowEntity">
    <id column="follow_id" jdbcType="INTEGER" property="followId" />
    <id column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="date_time" jdbcType="TIMESTAMP" property="dateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    follow_id, user_name, date_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="cn.edu.zucc.se2020g11.api.entity.FollowEntityKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from follow
    where follow_id = #{followId,jdbcType=INTEGER}
      and user_name = #{userName,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="cn.edu.zucc.se2020g11.api.entity.FollowEntityKey">
    delete from follow
    where follow_id = #{followId,jdbcType=INTEGER}
      and user_name = #{userName,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.edu.zucc.se2020g11.api.entity.FollowEntity">
    insert into follow (follow_id, user_name, date_time
      )
    values (#{followId,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR}, #{dateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.edu.zucc.se2020g11.api.entity.FollowEntity">
    insert into follow
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="followId != null">
        follow_id,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="dateTime != null">
        date_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="followId != null">
        #{followId,jdbcType=INTEGER},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="dateTime != null">
        #{dateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.edu.zucc.se2020g11.api.entity.FollowEntity">
    update follow
    <set>
      <if test="dateTime != null">
        date_time = #{dateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where follow_id = #{followId,jdbcType=INTEGER}
      and user_name = #{userName,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.edu.zucc.se2020g11.api.entity.FollowEntity">
    update follow
    set date_time = #{dateTime,jdbcType=TIMESTAMP}
    where follow_id = #{followId,jdbcType=INTEGER}
      and user_name = #{userName,jdbcType=VARCHAR}
  </update>
</mapper>