<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.zucc.se2020g11.api.dao.SpellErrorEntityMapper">
  <resultMap id="BaseResultMap" type="cn.edu.zucc.se2020g11.api.entity.SpellErrorEntity">
    <id column="spell_error_id" jdbcType="INTEGER" property="spellErrorId" />
    <result column="composition_id" jdbcType="INTEGER" property="compositionId" />
    <result column="text" jdbcType="VARCHAR" property="text" />
  </resultMap>
  <sql id="Base_Column_List">
    spell_error_id, composition_id, text
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from spell_error
    where spell_error_id = #{spellErrorId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from spell_error
    where spell_error_id = #{spellErrorId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.edu.zucc.se2020g11.api.entity.SpellErrorEntity">
    insert into spell_error (spell_error_id, composition_id, text
      )
    values (#{spellErrorId,jdbcType=INTEGER}, #{compositionId,jdbcType=INTEGER}, #{text,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.edu.zucc.se2020g11.api.entity.SpellErrorEntity">
    insert into spell_error
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="spellErrorId != null">
        spell_error_id,
      </if>
      <if test="compositionId != null">
        composition_id,
      </if>
      <if test="text != null">
        text,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="spellErrorId != null">
        #{spellErrorId,jdbcType=INTEGER},
      </if>
      <if test="compositionId != null">
        #{compositionId,jdbcType=INTEGER},
      </if>
      <if test="text != null">
        #{text,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.edu.zucc.se2020g11.api.entity.SpellErrorEntity">
    update spell_error
    <set>
      <if test="compositionId != null">
        composition_id = #{compositionId,jdbcType=INTEGER},
      </if>
      <if test="text != null">
        text = #{text,jdbcType=VARCHAR},
      </if>
    </set>
    where spell_error_id = #{spellErrorId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.edu.zucc.se2020g11.api.entity.SpellErrorEntity">
    update spell_error
    set composition_id = #{compositionId,jdbcType=INTEGER},
      text = #{text,jdbcType=VARCHAR}
    where spell_error_id = #{spellErrorId,jdbcType=INTEGER}
  </update>
</mapper>