<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.zucc.se2020g11.api.dao.PushArticleEntityMapper">
  <resultMap id="BaseResultMap" type="cn.edu.zucc.se2020g11.api.entity.PushArticleEntity">
    <id column="article_id" jdbcType="INTEGER" property="articleId" />
    <result column="admin_name" jdbcType="VARCHAR" property="adminName" />
    <result column="time" jdbcType="TIMESTAMP" property="time" />
    <result column="article_body" jdbcType="VARCHAR" property="articleBody" />
    <result column="article_title" jdbcType="VARCHAR" property="articleTitle" />
    <result column="avatar_url" jdbcType="VARCHAR" property="avatarUrl" />
  </resultMap>
  <sql id="Base_Column_List">
    article_id, admin_name, time, article_body, article_title
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from push_article
    where article_id = #{articleId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from push_article
    where article_id = #{articleId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.edu.zucc.se2020g11.api.entity.PushArticleEntity" useGeneratedKeys="true" keyProperty="articleId">
    insert into push_article (article_id, admin_name, time,
                              article_body, article_title, avatar_url)
    values (#{articleId,jdbcType=INTEGER}, #{adminName,jdbcType=VARCHAR}, #{time,jdbcType=TIMESTAMP},
            #{articleBody,jdbcType=VARCHAR}, #{articleTitle,jdbcType=VARCHAR}, #{avatarUrl,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.edu.zucc.se2020g11.api.entity.PushArticleEntity">
    insert into push_article
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="articleId != null">
        article_id,
      </if>
      <if test="adminName != null">
        admin_name,
      </if>
      <if test="time != null">
        time,
      </if>
      <if test="articleBody != null">
        article_body,
      </if>
      <if test="articleTitle != null">
        article_title,
      </if>
      <if test="avatarUrl != null">
        avatar_url,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="articleId != null">
        #{articleId,jdbcType=INTEGER},
      </if>
      <if test="adminName != null">
        #{adminName,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="articleBody != null">
        #{articleBody,jdbcType=VARCHAR},
      </if>
      <if test="articleTitle != null">
        #{articleTitle,jdbcType=VARCHAR},
      </if>
      <if test="avatarUrl != null">
        #{avatarUrl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.edu.zucc.se2020g11.api.entity.PushArticleEntity">
    update push_article
    <set>
      <if test="adminName != null">
        admin_name = #{adminName,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        time = #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="articleBody != null">
        article_body = #{articleBody,jdbcType=VARCHAR},
      </if>
      <if test="articleTitle != null">
        article_title = #{articleTitle,jdbcType=VARCHAR},
      </if>
      <if test="avatarUrl != null">
        avatar_url = #{avatarUrl,jdbcType=VARCHAR},
      </if>
    </set>
    where article_id = #{articleId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.edu.zucc.se2020g11.api.entity.PushArticleEntity">
    update push_article
    set admin_name = #{adminName,jdbcType=VARCHAR},
        time = #{time,jdbcType=TIMESTAMP},
        article_body = #{articleBody,jdbcType=VARCHAR},
        article_title = #{articleTitle,jdbcType=VARCHAR},
        avatar_url = #{avatarUrl,jdbcType=VARCHAR}
    where article_id = #{articleId,jdbcType=INTEGER}
  </update>
  <select id="selectAll" parameterType="cn.edu.zucc.se2020g11.api.entity.PushArticleEntity" resultMap="BaseResultMap">
    select *
    from push_article
  </select>
</mapper>