<?xml version='1.0' encoding='utf-8'?>
<widget id="cn.edu.zucc.piduoduo" version="1.5.1-beta" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>批多多</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="2832203391@qq.com" href="http://nonlinearthink.github.io">
        Jaycee Chow
    </author>
    <preference name="StatusBarOverlaysWebView" value="true" />
    <preference name="StatusBarBackgroundColor" value="#000000" />
    <preference name="StatusBarStyle" value="lightcontent" />
    <preference name="StatusBarDefaultScrollToTop" value="false" />
    <preference name="NativeXHRLogging" value="full|none" />
    <preference name="AllowUntrustedCerts"  value="true|false" />
    <preference name="InterceptRemoteRequests" value="all|secureOnly" />
    <preference name="CustomUserAgent" value="my_custom_user_agent" />
    <preference name="allowFileAccessFromFileURLs" value="true|false" />
    <preference name="allowUniversalAccessFromFileURLs" value="true|false" />
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <icon src="res/android/ldpi.png" density="ldpi" />
        <icon src="res/android/mdpi.png" density="mdpi" />
        <icon src="res/android/hdpi.png" density="hdpi" />
        <icon src="res/android/xhdpi.png" density="xhdpi" />
        <icon src="res/android/xxhdpi.png" density="xxhdpi" />
        <icon src="res/android/xxxhdpi.png" density="xxxhdpi" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <icon src="res/ios/icon-20.png" width="20" height="20" />
        <icon src="res/ios/icon-20@2x.png" width="40" height="40" />
        <icon src="res/ios/icon-20@3x.png" width="60" height="60" />
        <icon src="res/ios/icon-24@2x.png" width="48" height="48" />
        <icon src="res/ios/icon-27.5@2x.png" width="55" height="55" />
        <icon src="res/ios/icon-29.png" width="29" height="29" />
        <icon src="res/ios/icon-29@2x.png" width="58" height="58" />
        <icon src="res/ios/icon-29@3x.png" width="87" height="87" />
        <icon src="res/ios/icon-40.png" width="40" height="40" />
        <icon src="res/ios/icon-40@2x.png" width="80" height="80" />
        <icon src="res/ios/icon-44@2x.png" width="88" height="88" />
        <icon src="res/ios/icon-50.png" width="50" height="50" />
        <icon src="res/ios/icon-50@2x.png" width="100" height="100" />
        <icon src="res/ios/icon-60@2x.png" width="120" height="120" />
        <icon src="res/ios/icon-60@3x.png" width="180" height="180" />
        <icon src="res/ios/icon-72.png" width="72" height="72" />
        <icon src="res/ios/icon-72@2x.png" width="144" height="144" />
        <icon src="res/ios/icon-76.png" width="76" height="76" />
        <icon src="res/ios/icon-76@2x.png" width="152" height="152" />
        <icon src="res/ios/icon-83.5@2x.png" width="167" height="167" />
        <icon src="res/ios/icon-86@2x.png" width="172" height="172" />
        <icon src="res/ios/icon-98@2x.png" width="196" height="196" />
        <icon src="res/ios/icon-1024.png" width="1024" height="1024" />
        <icon src="res/ios/icon.png" width="57" height="57" />
        <icon src="res/ios/icon@2x.png" width="114" height="114" />
    </platform>
</widget>
