// 留白大小
$blank-size: 1rem;
// 主题色
$color-primary: #02a7f0;
$color-gradient: #6dd5ed;
$color-text-primary: #fff;
// 标题字体大小
$text-size-title: 1.2rem;
// 正文字体大小
$text-size-main: 1rem;
// 前景色
$color-accent: #fff;
// 应用软件背景色
$color-app-background: #f6f6f6;
// 背景色
$color-background: #0079FE;
